body {
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 0; 
    margin: 0; 
    font-family: monospace
}

p {
    margin: 0px;
}
.consoletext {
    padding-top: 0.1em;
}

#p5_container {
    height: 50%;
}

#checkbox_container {
    margin: 10px;
    position: absolute;
}

#radio_container {
    position: absolute;
    margin: 10px;
    right: 0;
}

#console_container {
    height: 50%;
    overflow-y: scroll;
}

#console {
    padding: 20px;
}

