<html>
<head>
<meta charset="UTF-8">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lodash.js') }}"></script>    
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='p5.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='p5.sound.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='Tone.min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='sketch.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script>
window.addEventListener("load", function(){ //when page loads
    var myp5 = new p5(p5sketch, "p5_container");
});
</script>
</head>

<body>
    <div id="checkbox_container"></div>
    <div id="radio_container">
        <input type="radio" id="radio1" name="comp_mode" value="call_and_response" checked>
        <label for="radio1">Call-and-Response</label>
    </br>
    
        <input type="radio" id="radio2" name="comp_mode" value="accompaniment">
        <label for="radio2">Accompaniment</label>
    </div>
    <div id="main_container">
        <div id="p5_container"></div>
        <div id="console_container">
            <div id="console">
                <p>Plug in a MIDI device and make some music!</p>
            </div>
        </div>
    </div>
</body>
</html>
